:root { 
--gray_50_01:#fafafb; 
--indigo_A100_6c:#aba8ff6c; 
--red_700:#d33030; 
--indigo_A200:#605bff; 
--blue_A200:#4285f4; 
--red_500:#eb4335; 
--green_900:#185c37; 
--green_800:#107c41; 
--green_600:#34a853; 
--gray_50:#f8faff; 
--indigo_A200_7e:#605bff7e; 
--black_900_87:#03022987; 
--teal_400:#33c481; 
--black_900_01:#030229; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_A200_01:#5b92ff; 
--gray_500_01:#999ca0; 
--gray_200_01:#ebebeb; 
--gray_600:#848484; 
--gray_500:#9a9aa9; 
--blue_700:#346ad4; 
--amber_500:#fbbc05; 
--gray_900:#231f20; 
--gray_200:#eaeaea; 
--gray_100:#f5f5f5; 
--white_A700_00:#ffffff00; 
--white_A700_01:#ffffff; 
--gray_100_01:#f2f2f2; 
--green_600_01:#21a366; 
--white_A700:#fcfcff; 
}